
<div class="row"> 
    <div class="col-6 col-md-3  mb-5 animate__animated animate__fadeIn" *ngFor="let serie of series" >
        <figure class="imghvr-fade">
            <img [src]="serie.poster_path| poster"  >
    
            <figcaption class="figcap">
                <div class="texto">
                <p>
                    {{serie.vote_average | number:'1.1'}}
                </p>
                
                </div>
                <h3 class="text-center mt-2 titulo">
                    "{{ serie.name }}"
                </h3>
            </figcaption>
            <a (click)="verSerie(serie)"></a>
          </figure>
    </div> 
</div>
