<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
      <div class="container nav-container">
        <a class="navbar-brand" (click)="back()"><img src="assets/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg" alt=""></a>

        <div class="nav-menus">
  
          <div class="d-flex">
              <input class="input-text"
                    #buscarTxt
                    (keyup.enter)="buscar(buscarTxt.value)"
                    type="search" 
                    placeholder="Buscar pelicula" 
                    aria-label="Search">
              <button class="btn btn-outline-success boton" (click)="buscar(buscarTxt.value)" type="submit"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>
  </div>
</nav>