
<div class="row">
    <div class="col-6 col-md-3  mb-5 animate__animated animate__fadeIn" *ngFor="let movie of movies" >
        <figure class="imghvr-fade">
            <img [src]="movie.poster_path| poster"  >
    
            <figcaption class="figcap">
                <div class="texto">
                <p>
                    {{movie.vote_average | number:'1.1'}}
                </p>
                
                </div>
                <h3 class="text-center mt-2 titulo">
                    "{{ movie.title }}"
                </h3>
            </figcaption>
            <a (click)="verPelicula(movie)"></a>
          </figure>
    </div> 
</div>
