.container {
  max-width: 1500px;
}

h1, h2, h3, h4 {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.swiper-container2 {
  margin-top: 0px;
  overflow: hidden;
}

.slider-responsive {
  height: 560px;
  margin-top: 50px;
}

.slider-responsive .swiper-container {
  height: 100% !important;
  width: 100% !important;
}

.slider-responsive .swiper-container .swiper-slide {
  -webkit-box-shadow: inset 0px 0px 200px 67px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 0px 200px 67px rgba(0, 0, 0, 0.8);
}

.slider-responsive .swiper-container .swiper-slide .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  width: 100% !important;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 87px -14px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 87px -14px rgba(0, 0, 0, 0.5);
}

.slider-responsive .swiper-container .swiper-slide .swiper-pagination .description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 200px;
  background: rgba(0, 0, 0, 0.5);
}

.slider-responsive .swiper-container .swiper-slide .swiper-pagination .description h3 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  font-size: 55px;
}

.slider-responsive .swiper-container .swiper-slide .swiper-pagination .description p {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.slider-responsive .swiper-container .swiper-slide .swiper-pagination .description .date {
  font-size: 15px;
}

.slider-responsive .swiper-container .swiper-slide .swiper-pagination .description .rating {
  color: #01b4e4;
}

@media screen and (max-width: 1000px) {
  .slider-responsive {
    height: 400px;
  }
}

@media screen and (max-width: 780px) {
  .slider-responsive {
    height: 600px;
  }
  .slider-responsive .swiper-pagination .description {
    padding: 0 10px !important;
  }
  .slider-responsive .swiper-pagination .description h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .slider-responsive {
    height: 750px;
  }
  .slider-responsive .movie-description {
    height: 200px;
  }
}

@media screen and (max-width: 550px) {
  .margin-top {
    margin-top: 100px !important;
  }
  .container .container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .container-fluid .d-flex {
    margin-top: 7px;
    width: 300px;
  }
}

.contenedor {
  max-width: 1200px;
}

.contenedor2 {
  max-width: 1300px;
  margin-top: 30px;
  padding: 50px;
  background: #f4f4f4;
}

.contenedorMovie {
  padding-top: 60px;
}

.contenedorMovie .pelicula {
  -webkit-box-shadow: inset 2px 0px 0px 200px #4d4d4da6;
  box-shadow: inset 2px 0px 0px 300px #4d4d4da6;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 40px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.contenedorMovie .pelicula .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.contenedorMovie .pelicula .img img {
  width: 300px;
  border-radius: 3px;
}

.contenedorMovie .pelicula .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100% !important;
  padding: 40px 0;
}

.contenedorMovie .pelicula .description .pelicula-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contenedorMovie .pelicula .description .pelicula-rating star-rating {
  width: 150px;
}

.contenedorMovie .pelicula .description .pelicula-rating .rating {
  width: 10px;
}

.contenedorMovie .pelicula .description .back {
  margin-top: 45px;
}

.contenedorMovie .pelicula .description .back .btn {
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  padding: 7px 14px;
}

.contenedorMovie .pelicula .description .back .btn:hover {
  background: white;
  color: black;
}

.contenedorMovie .pelicula .description .texto-pelicula {
  margin-top: 30px;
  max-width: 800px;
}

.contenedorMovie .sliderCast {
  margin: auto;
  width: 100%;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: black;
}

.contenedorMovie .sliderCast h3 {
  margin-bottom: 20px;
  color: black;
}

.contenedorMovie .prodDiv {
  margin-top: 35px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedorMovie .prodDiv h4 {
  margin-bottom: 20px;
  color: black;
}

.contenedorMovie .prodDiv .companies {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
}

.contenedorMovie .prodDiv .companies .productora {
  width: 70px;
  text-align: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px;
}

.contenedorMovie .prodDiv .companies .productora p {
  color: black;
  font-size: 14px;
  height: 10%;
}

.contenedorMovie .prodDiv .companies .productora .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedorMovie .prodDiv .companies .productora .img img {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 5px;
}

.contenedorMovie .info {
  width: 100%;
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedorMovie .info h4 {
  color: black;
  text-align: center;
  margin-bottom: 30px;
}

.contenedorMovie .info .lista {
  list-style: none;
  margin: auto;
  margin-top: 10px;
  padding-left: 2px;
  line-height: 40px;
}

.contenedorMovie .info .lista a {
  color: #01b4e4;
  height: 25px;
}

.contenedorMovie .info .lista a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #777777;
}

.contenedorMovie .slider {
  margin-top: 57px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.contenedorMovie .slider h4 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #000;
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  .swiper-container.-cast .actores-slider img {
    height: 150px !important;
  }
}

@media screen and (max-width: 770px) {
  .img {
    margin-bottom: 20px;
  }
  .swiper-container.-cast .actores-slider img {
    height: 118px !important;
  }
}

@media screen and (max-width: 550px) {
  .peliculas-busqueda {
    margin-top: 70px;
    padding: 10px;
  }
  .container-pelicula {
    margin-top: 70px;
  }
}

.swiper-slide p {
  color: black;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.categoria {
  margin: auto;
}

.categoria h2 {
  margin-bottom: 50px;
}

.navbar {
  position: absolute;
  top: 0;
}

.navbar .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .nav-container .input-text {
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
  width: 350px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  padding: 0px 15px 0 15px;
}

.navbar .nav-container .input-text:focus {
  outline: none;
  border: 1px solid white;
}

.navbar .nav-container .boton {
  border-style: none !important;
  color: #01b4e4 !important;
  opacity: 1;
  position: relative;
  left: -40px;
}

.navbar .nav-container .boton:hover {
  background-color: rgba(0, 0, 0, 0);
  color: white !important;
}

@media screen and (max-width: 770px) {
  .margin-top {
    margin-top: 100px;
  }
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .nav-container .nav-menus .categorias li .submenu-cat {
    width: 200%;
    height: 500px;
  }
}

.textos, .seccion-peli {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.textos .verSeries, .seccion-peli .verSeries {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 20px;
  margin-bottom: 28px;
}

.textos .verSeries::after, .seccion-peli .verSeries::after {
  content: "";
  margin-top: 5px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: inline-block;
  height: 2px;
  background: #01b4e4;
}

.textos .verSeries:focus, .seccion-peli .verSeries:focus {
  outline: none;
}

.textos .active::after, .seccion-peli .active::after {
  width: 100%;
}

.textos .hover:hover::after, .seccion-peli .hover:hover::after {
  -webkit-animation: width 400ms ease forwards;
          animation: width 400ms ease forwards;
}

.textos h1, .seccion-peli h1 {
  font-weight: 800;
}

.textos button, .seccion-peli button {
  border: none;
  background: rgba(0, 0, 0, 0);
  color: white;
  margin: 0 20px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.textos button::after, .seccion-peli button::after {
  content: "";
  margin-top: 5px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: inline-block;
  height: 2px;
  background: #01b4e4;
}

.textos button:focus, .seccion-peli button:focus {
  outline: none;
}

.textos .active::after, .seccion-peli .active::after {
  width: 100%;
}

.textos .hover:hover::after, .seccion-peli .hover:hover::after {
  -webkit-animation: width 400ms ease forwards;
          animation: width 400ms ease forwards;
}

@-webkit-keyframes width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media screen and (max-width: 470px) {
  .textos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .textos .seccion-peli {
    font-size: 15px;
  }
  .textos .seccion-peli button {
    padding: 10px;
    margin: auto;
  }
}

.categoria {
  margin-top: 57px;
}

.categoria h3 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  font-size: 20px;
  width: 100%;
  background: rgba(170, 170, 170, 0.1);
  text-align: center;
  padding: 10px;
  border-radius: 2px;
}

.categoria .categorias-lista {
  width: 100%;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  margin-top: 24px;
}

.categoria .categorias-lista .cat {
  padding: 7px;
  margin-bottom: 8px;
  text-align: start;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
  width: 112px;
  height: 35px;
}

.categoria .categorias-lista a {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.categoria .categorias-lista a:hover {
  cursor: pointer;
  color: #01b4e4;
  font-size: 17px;
}

@media screen and (max-width: 470px) {
  .categoria {
    display: none;
  }
}

.imghvr-fade {
  border-radius: 15px;
}

.imghvr-fade .figcap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: rgba(191, 19, 99, 0.2);
  -webkit-box-shadow: inset 0px 0px 60px 10px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 0px 60px 10px rgba(0, 0, 0, 0.6);
}

.imghvr-fade .figcap .texto {
  width: 100px;
  height: 100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 18px;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background: rgba(255, 255, 255, 0.8);
  padding-top: 12px;
}

.imghvr-fade .figcap .texto p {
  color: rgba(0, 0, 0, 0.7);
}
/*# sourceMappingURL=styles.css.map */