<div class="swiper-container ">
    <div class="swiper-wrapper">

        <div *ngFor="let actor of cast"   
             class="swiper-slide text-white text-center">

                <img [src]="actor.profile_path | poster" 
                 [alt]="actor.name"
                 height="200px"
                 style="border-radius: 5px ;
                        border-style: solid;
                        border-color: white;
                        border-width: 3px;
                 ">
            {{ actor.name }}
        </div>
    </div>
</div>