body {
    background-image: url("./assets/darl.jpg");
    background-attachment: fixed;
    background-color: #14161E;
}

h1,h2,h3,h4,h5 {
    font-weight: 200;
    color: white;
}

p {
    color: white;
}

hr{
    color: white;
}

.navbar{
    background: #0f0f0fc7;
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    font-weight: 200;
    color: #bd4c5f !important;
}

.navbar-brand img{
    width: 230px;
}

.contenedor-items{
    padding-top: 60px;
}

.btn-outline-success {
    border-color: #bd4c5f !important;;
    color: #bd4c5f !important;;
    margin-left: 2px;
}

.btn-outline-success:hover {
    background-color: #272a36;
    color: white !important;
}

.block {
    display:block;
}